.background {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/crypto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content-area {
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
.content-edit{
    background-color: whitesmoke;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
}
.content-lable{
}
.content-input{
}
.content-button{
    width: 100px;
    border: none;
    background-color: lightblue;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.content-button:hover {
    background-color: lightblue;
    color: blue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.content-button:active {
    background-color: lightblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }