<!-- simple login screen build to test and learn nestJS calls -->
<div class="background">
    <div class="content-area">
        <h2>Welcome</h2>
        <div class="content-edit">
            <label class="content-lable">Name</label>
            <input class="content-input" type="text" [(ngModel)]="name">
            <button class="content-button" (click)="start()">Start</button>
        </div>
    </div>
</div>
