<div class="container">
    <div class="welcome">
        <!-- welcome msg and user retruned from nestjs -->
        <h1>Welcome {{user}}</h1>
    </div>
    <!-- rows for containing the crypto currencies -->
    <div class="container-row">
        <div class="content">
            <h3>BTC</h3>
            <label></label>
        </div>
        <!-- loop in obj and display key with value -->
        <div class="content" *ngFor="let cur of BTC | keyvalue">
            <label class="lableHeading">{{cur.key}}</label>
            <label>{{cur.value}}</label>
        </div>
    </div>
    <div class="container-row">
        <div class="content">
            <h3>ETH</h3>
            <label></label>
        </div>
        <div class="content" *ngFor="let cur of ETH | keyvalue">
            <label class="lableHeading">{{cur.key}}</label>
            <label>{{cur.value}}</label>
        </div>
    </div>    
    <div class="container-row">
        <div class="content">
            <h3>XRP</h3>
            <label></label>
        </div>
        <div class="content" *ngFor="let cur of XRP | keyvalue">
            <label class="lableHeading">{{cur.key}}</label>
            <label>{{cur.value}}</label>
        </div>
    </div>    <div class="container-row">
        <div class="content">
            <h3>LTC</h3>
            <label></label>
        </div>
        <div class="content" *ngFor="let cur of LTC | keyvalue">
            <label class="lableHeading">{{cur.key}}</label>
            <label>{{cur.value}}</label>
        </div>
    </div>    <div class="container-row">
        <div class="content">
            <h3>BCH</h3>
            <label></label>
        </div>
        <div class="content" *ngFor="let cur of BCH | keyvalue">
            <label class="lableHeading">{{cur.key}}</label>
            <label>{{cur.value}}</label>
        </div>
    </div>    <div class="container-row">
        <div class="content">
            <h3>ETC</h3>
            <label></label>
        </div>
        <div class="content" *ngFor="let cur of ETC | keyvalue">
            <label class="lableHeading">{{cur.key}}</label>
            <label>{{cur.value}}</label>
        </div>
    </div>
</div>




