.container{
    background-color: white;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/crypto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.container-row{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    min-width: 100px;
}

.cont{
    display: flex;
    flex-direction: row;
}
.cont-container{
    display: flex;
    flex-direction: column;
    min-width: 100px;
}
.cont-cont-container{
    padding: 5px;
}
.lableHeading{
    font-weight: bold;
}